<div class="row">

    <ul class="team-list sort-destination" data-sort-id="team">

        <li class="col-md-3 col-sm-6 col-xs-12 isotope-item leadership" *ngFor="let user of users">
            <div class="team-item thumbnail">
                <a href="#" class="thumb-info team">
                    <img class="img-responsive" alt="" [src]="user.avatar">
                    <span class="thumb-info-title">
                        <span class="thumb-info-inner">{{ user.first_name }}</span>
                    <span class="thumb-info-type">{{ user.last_name }}</span>
                    </span>
                </a>
                <span class="thumb-info-caption">
                    <p>{{ user.email }}</p>
                    <span class="thumb-info-social-icons">
                        <a data-tooltip data-placement="bottom" target="_blank" href="http://www.facebook.com" data-original-title="Facebook"><i class="fa fa-facebook"></i><span>Facebook</span></a>
                <a data-tooltip data-placement="bottom" href="http://www.twitter.com" data-original-title="Twitter"><i class="fa fa-twitter"></i><span>Twitter</span></a>
                <a data-tooltip data-placement="bottom" href="http://www.linkedin.com" data-original-title="Linkedin"><i class="fa fa-linkedin"></i><span>Linkedin</span></a>
                </span>
                </span>
            </div>
        </li>

    </ul>

</div>

<div class="container-fluid">
    <ul class="languages">
        <li *ngFor="let language of languages">
            <p>id: {{ language.id }}</p>
            <p>name: {{ language.name}}</p>
            <p>description: {{ language.description}}</p>
            <p>year: {{ language.year }}</p>
        </li>
    </ul>
</div>