<div role="main" class="main" >
   
 
    
    <div class="container" id="proceso">
    
        <div class="row center">
            <div class="col-md-12">
                <h1 class="short word-rotator-title">
                    😈 La mejor pagina que podras encontrar 😈
                </h1>
                <p class="featured lead">
                    Si sale tu novia no digas... 🤫🤫🤫
                </p>
            </div>
        </div>
    
    </div>
    
  
    
    
    <div class="container" id="registro">
            <div class="col-md-12">
                <h2>Dibujos de perras <strong>CALIENTES</strong></h2>
            </div>

            <ul class="portfolio-list">
                <li class="col-md-6 col-xs-6">
                    <div class="portfolio-item thumbnail">
                        <a href="posts" class="thumb-info">
                            <img alt="" class="img-responsive" src="https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExYzQxMTg5ZDgwZWQ4ZjJhMTBmZGRmYzRmMGNiYTk1MDBhZDQyMGU0YSZjdD1n/10YWqUivkQPeeJWD3u/giphy.gif">
                            <span class="thumb-info-title">
                                <span class="thumb-info-inner">CLICK para ver <br> "BAILESITO DE WAIFUS"</span>
                                <a class="links" href="posts">
                                    <span class="thumb-info-type">
                                        AQUÍ...
                                    </span>
                                </a>
                                
                            </span>
                            <span class="thumb-info-action">
                                <span title="Universal" class="thumb-info-action-icon"><i class="fa fa-link"></i></span>
                            </span>
                        </a>
                    </div>
                </li>
                <li class="col-md-6 col-xs-6">
                    <div class="portfolio-item thumbnail">
                        <a href="posts" class="thumb-info">
                            <img alt="" class="img-responsive" src="https://thumbs.gfycat.com/FineSatisfiedHatchetfish-size_restricted.gif">
                            <span class="thumb-info-title">
                                <span class="thumb-info-inner">CLICK para ver <br> "BAILESITO DE WAIFUS 2"</span>
                                <a class="links" href="posts">
                                    <span class="thumb-info-type">
                                        AQUÍ...
                                    </span>
                                </a>
                                
                            </span>
                            <span class="thumb-info-action">
                                <span title="Universal" class="thumb-info-action-icon"><i class="fa fa-link"></i></span>
                            </span>
                        </a>
                    </div>
                </li>
                <li class="col-md-6 col-xs-6">
                    <div class="portfolio-item thumbnail">
                        <a href="posts" class="thumb-info">
                            <img alt="" class="img-responsive" src="https://pa1.narvii.com/6069/924cc2cd2de7694f4433f230ed5b60615d608b1a_hq.gif">
                            <span class="thumb-info-title">
                                <span class="thumb-info-inner">CLICK para ver <br> "KIERO BERTE LAZ TETAZ"</span>
                                <a class="links" href="posts">
                                    <span class="thumb-info-type">
                                        AQUÍ...
                                    </span>
                                </a>
                                
                            </span>
                            <span class="thumb-info-action">
                                <span title="Universal" class="thumb-info-action-icon"><i class="fa fa-link"></i></span>
                            </span>
                        </a>
                    </div>
                </li>
                <li class="col-md-6 col-xs-6">
                    <div class="portfolio-item thumbnail">
                        <a href="posts" class="thumb-info">
                            <img alt="" class="img-responsive" src="https://pa1.narvii.com/6481/d34ebeff7c9f3bc7fd8d5b51c7b0a02991ae6eba_hq.gif">
                            <span class="thumb-info-title">
                                <span class="thumb-info-inner">CLICK para ver <br> "MI NOVIA SE ENOJA EN LA PLAYA Y ME LA FOLLO TIO 👉🏽👌🏽"</span>
                                <a class="links" href="posts">
                                    <span class="thumb-info-type">
                                        AQUÍ...
                                    </span>
                                </a>
                                
                            </span>
                            <span class="thumb-info-action">
                                <span title="Universal" class="thumb-info-action-icon"><i class="fa fa-link"></i></span>
                            </span>
                        </a>
                    </div>
                </li>
                <li class="col-md-6 col-xs-6">
                    <div class="portfolio-item thumbnail">
                        <a href="posts" class="thumb-info">
                            <img alt="" class="img-responsive" src="https://i.imgur.com/qYNse0c.gif">
                            <span class="thumb-info-title">
                                <span class="thumb-info-inner">CLICK para ver <br> "PENDEJO NO DURA NADA🤤😝"</span>
                                <a class="links" href="posts">
                                    <span class="thumb-info-type">
                                        AQUÍ...
                                    </span>
                                </a>
                                
                            </span>
                            <span class="thumb-info-action">
                                <span title="Universal" class="thumb-info-action-icon"><i class="fa fa-link"></i></span>
                            </span>
                        </a>
                    </div>
                </li>
                <li class="col-md-6 col-xs-6">
                    <div class="portfolio-item thumbnail">
                        <a href="posts" class="thumb-info">
                            <img alt="" class="img-responsive" src="https://i.imgur.com/QVDHA.gif">
                            <span class="thumb-info-title">
                                <span class="thumb-info-inner">CLICK para ver <br> "EL DUELO DE LAS COGIDAS😍"</span>
                                <a class="links" href="posts">
                                    <span class="thumb-info-type">
                                        AQUÍ...
                                    </span>
                                </a>
                                
                            </span>
                            <span class="thumb-info-action">
                                <span title="Universal" class="thumb-info-action-icon"><i class="fa fa-link"></i></span>
                            </span>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    
    <hr class="tall" />

    <div class="container">
        <div class="row center">
            <div class="col-md-12">
                <h2 class="short word-rotator-title">
                    HAY UNA PERRA A 3 KM, Q ESPERAS MIJO 🥵🥵🥵
                    <strong>
                        <span class="word-rotate" data-plugin-options="{'delay': 3500, 'animDelay': 400}">
                            <span class="word-rotate-items">
                                <span>Regístrate</span>
                                <span>Publica</span>
                                <span>Vincula</span>
                            </span>
                        </span>
                    </strong>
                </h2>
                <h4 class="lead tall">No aguantarás ni 5 minutos, lleva paraguas <br> 🔥 TE MOJARÁS DOS VECES 🔥</h4>
            </div>
        </div>
    </div>
    

        <section class="featured footer map">
            <div class="container" style="text-align:center">
                <img class="img-responsive" src="assets/img/logo.jpeg" alt="" style="display:inline; margin: 70px; ">
            </div>
        </section>
   
</div>
