<div class="container" *ngIf="postFound; else noPostFound">
  <div class="row">
    <div class="col-md-12">
      <div class="blog-posts single-post">
        <article class="post post-large blog-single-post">
          <div class="post-date">
            <span class="day">{{ post[0].day }}</span>
            <span class="month">{{ post[0].month == "Invalid Date" ? "jul" : post[0].month }}</span>
          </div>

          <div class="post-content">
            <h2>
              <a href="blog-post.html">{{ post[0].tittle }}</a>
            </h2>

            <div class="post-meta">
              <span
                ><i class="fa fa-user"></i> By
                <a href="#">{{ post[0].user }}</a>
              </span>
              <span
                ><i class="fa fa-tag"></i> <a href="#">{{ post[0].section }}</a>
              </span>
            </div>

            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
              lectus lacus, rutrum sit amet placerat et, bibendum nec mauris.
              Duis molestie, purus eget placerat viverra, nisi odio gravida
              sapien, congue tincidunt nisl ante nec tellus. Vestibulum ante
              ipsum primis in faucibus orci luctus et ultrices posuere cubilia
              Curae; Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Fusce sagittis, massa fringilla consequat blandit, mauris ligula
              porta nisi, non tristique enim sapien vel nisl. Suspendisse
              vestibulum lobortis dapibus. Vestibulum ante ipsum primis in
              faucibus orci luctus et ultrices posuere cubilia Curae; Praesent
              nec tempus nibh. Donec mollis commodo metus et fringilla. Etiam
              venenatis, diam id adipiscing convallis, nisi eros lobortis
              tellus, feugiat adipiscing ante ante sit amet dolor. Vestibulum
              vehicula scelerisque facilisis. Sed faucibus placerat bibendum.
              Maecenas sollicitudin commodo justo, quis hendrerit leo consequat
              ac. Proin sit amet risus sapien, eget interdum dui. Proin justo
              sapien, varius sit amet hendrerit id, egestas quis mauris.
            </p>

            <div class="post-block post-comments clearfix">
              <h3>
                <i class="fa fa-comments"></i>Comments ({{ comments.length }})
              </h3>

              <ul class="comments">
                <li *ngFor="let comment of comments">
                  <div class="comment">
                    <div class="img-thumbnail">
                      <img
                        class="avatar"
                        alt=""
                        src="https://picsum.photos/200"
                      />
                    </div>
                    <div class="comment-block">
                      <div class="comment-arrow"></div>
                      <span class="comment-by">
                        <strong style="margin-right: 20px;">{{ comment.user }}</strong>
                        <span class="pull-right">
                          <span>
                            <a href="#"
                              ><i class="fa fa-reply"></i> Reply</a
                            ></span
                          >
                        </span>
                      </span>
                      <p>
                        {{ comment.comment }}
                      </p>
                      <span class="date pull-right"
                        >Today</span
                      >
                    </div>
                  </div>
                </li>
              </ul>
            </div>

            <div class="post-block post-leave-comment">
              <h3>Leave a comment</h3>

              <form action="" method="post">
                <div class="row">
                  <div class="form-group">
                    <div class="col-md-6">
                      <label>Your name *</label>
                      <input
                        type="text"
                        value=""
                        maxlength="100"
                        class="form-control"
                        name="name"
                        id="name"
                      />
                    </div>
                    <div class="col-md-6">
                      <label>Your email address *</label>
                      <input
                        type="email"
                        value=""
                        maxlength="100"
                        class="form-control"
                        name="email"
                        id="email"
                      />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group">
                    <div class="col-md-12">
                      <label>Comment *</label>
                      <textarea
                        maxlength="5000"
                        rows="10"
                        class="form-control"
                        name="comment"
                        id="comment"
                      ></textarea>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <input
                      type="submit"
                      value="Post Comment"
                      class="btn btn-primary btn-lg"
                      data-loading-text="Loading..."
                    />
                  </div>
                </div>
              </form>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>
<ng-template #noPostFound>This post does not exist!</ng-template>
